<div class="contenitore">
    <mat-card class="main-card" style="padding: 100px;">
      <mat-card-header>
        <mat-card-title >Benvenuto su Pizza Store!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          In questa pagina a seconda del tuo ruolo potrai navigare sulle tue possibili azioni!
        </p>
      </mat-card-content>
      <mat-card-actions *ifRole="['ADMIN_ROLE']">
        <button mat-raised-button color="primary" routerLink="/cliente/list">Vai a Lista Clienti</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="contenitore" *ifRole="['PIZZAIOLO_ROLE']">
    <a routerLink="/pizza/list">Gestione Pizze</a>
    <a routerLink="/ordine/create">Inserisci nuovo ordine</a>
    <a routerLink="/ordine/list">Gestione ordine</a>
  </div>

  <div class="contenitore" *ifRole="['PROPRIETARIO_ROLE']">
    <a routerLink="/ordine/report">Report Ordini</a>
    <a routerLink="/statistiche">Statistiche Proprietario</a>
  </div>