<div class="container" align="center" style="padding: 100px;" >
    <mat-card class="form" >

        <mat-card-header>
            <mat-card-title *ngIf="urlFlag =='readOnlyActivated'">Visualizza dettaglio</mat-card-title>
            <mat-card-title *ngIf="urlFlag =='addActivated'">Inserisci nuovo elemento</mat-card-title>
            <mat-card-title *ngIf="urlFlag =='editActivated'">Modifica elemento</mat-card-title>
            <mat-card-title *ngIf="urlFlag =='searchActivated'">Ricerca elemento</mat-card-title>

        </mat-card-header>
        <form (ngSubmit)="handleFormRequest()" [formGroup]="ordineReactive">

            <!-- cambiare il formato di datepicker 
                <mat-form-field class="form-element">
                    <input matInput [matDatepicker]="picker" name="data" type="date" formControlName="data">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="ordineReactive.get('data')?.hasError('required')">Data obbligatoria</mat-error>
                </mat-form-field>
            -->

                <mat-form-field class="form-element">
                    <input matInput name="data" type="text" formControlName="data" placeholder="inserisci data..."  >
                    <mat-error *ngIf="ordineReactive.get('data')?.hasError('required')">Data obbligatoria</mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput name="codice" type="text" formControlName="codice" placeholder="inserisci codice..." >
                    <mat-error *ngIf="ordineReactive.get('codice')?.hasError('required')">codice obbligatori</mat-error>
                    <mat-error *ngIf="ordineReactive.get('codice')?.hasError('minlength')">Il campo codice deve avere almeno 4 caratteri</mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput name="costo" type="number" formControlName="costo" placeholder="inserisci costo totale..." >
                    <mat-error *ngIf="ordineReactive.get('costo')?.hasError('required')">Costo totale obbligatorio</mat-error>
                </mat-form-field>

                <section class="form-element" *ngIf="urlFlag == 'readOnlyActivated'">
                    <mat-checkbox formControlName="closed">Closed</mat-checkbox>
                </section>
                
                <mat-form-field class="form-element">
                    <mat-label>Seleziona cliente</mat-label>
                    <mat-select formControlName="cliente" name="cliente">
                      <mat-option *ngFor="let cliente of clienti" [value]="cliente">
                        {{cliente.nome}} {{cliente.cognome}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ordineReactive.get('cliente')?.hasError('required')">Cliente obbligatorio</mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>Seleziona fattorino</mat-label>
                    <mat-select formControlName="fattorino" name="fattorino">
                      <mat-option *ngFor="let fattorino of fattorini" [value]="fattorino">
                        {{fattorino.nome}} {{fattorino.cognome}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ordineReactive.get('fattorino')?.hasError('required')">Fattorino obbligatorio</mat-error>
                </mat-form-field>

            <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button" 
                [disabled]="ordineReactive.invalid" *ngIf="urlFlag != 'readOnlyActivated' && urlFlag != 'searchActivated'">Submit</button>
            </div>
            <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button" *ngIf="urlFlag =='searchActivated'">Cerca</button>
            </div>
            <div class="form-element">
                <button mat-raised-button color="accent" type="submit" class="button" routerLink="/ordine/list">Back</button>
            </div>

        </form>
    </mat-card>
</div>