<div class="container" align="center" style="padding: 100px;" >
    <mat-card class="form" >

        <mat-card-header>
            <mat-card-title *ngIf="urlFlag =='readOnlyActivated'">Visualizza dettaglio</mat-card-title>
            <mat-card-title *ngIf="urlFlag =='addActivated'">Inserisci nuovo elemento</mat-card-title>
            <mat-card-title *ngIf="urlFlag =='editActivated'">Modifica elemento</mat-card-title>
            <mat-card-title *ngIf="urlFlag =='searchActivated'">Ricerca elemento</mat-card-title>


        </mat-card-header>
        <form (ngSubmit)="handleFormRequest()" [formGroup]="ordineReactive">

                <!-- METTERE QUESTA DATA MA AGGIUSTARE IL FORMATO
                    <mat-form-field class="form-element">
                    <input matInput [matDatepicker]="picker" name="data" type="date" formControlName="data">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="ordineReactive.get('data')?.hasError('required')">Data obbligatoria</mat-error>
                </mat-form-field>
                -->

                <mat-form-field class="form-element">
                    <input matInput name="data" type="text" formControlName="data" placeholder="inserisci data..."  >
                    <mat-error *ngIf="ordineReactive.get('data')?.hasError('required')">Data obbligatoria</mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput name="codice" type="text" formControlName="codice" placeholder="inserisci codice..." >
                    <mat-error *ngIf="ordineReactive.get('codice')?.hasError('required')">codice obbligatori</mat-error>
                    <mat-error *ngIf="ordineReactive.get('codice')?.hasError('minlength')">Il campo codice deve avere almeno 4 caratteri</mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput name="costoTotale" type="number" formControlName="costoTotale" placeholder="inserisci costo totale..." >
                    <mat-error *ngIf="ordineReactive.get('costoTotale')?.hasError('required')">Costo totale obbligatorio</mat-error>
                </mat-form-field>

                <section class="form-element" *ngIf="urlFlag == 'readOnlyActivated'">
                    <mat-checkbox formControlName="closed">Closed</mat-checkbox>
                </section>

            <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button" 
                [disabled]="ordineReactive.invalid" *ngIf="urlFlag != 'readOnlyActivated' && urlFlag != 'searchActivated'">Submit</button>
            </div>
            <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button" *ngIf="urlFlag =='searchActivated'">Cerca</button>
            </div>
            <div class="form-element">
                <button mat-raised-button color="accent" type="submit" class="button" routerLink="/ordine/list">Back</button>
            </div>

        </form>
    </mat-card>
</div>