<div *ngIf="urlSearchOperationFlag != 'false'" style="padding: 20px;">
  <button (click)="onClickAddNew()" *ifRole="['ROLE_PIZZAIOLO']" color="primary" mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> ID</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th *matHeaderCellDef mat-header-cell> DATA</th>
      <td *matCellDef="let element" mat-cell> {{element.data | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="codice">
      <th *matHeaderCellDef mat-header-cell> CODICE</th>
      <td *matCellDef="let element" mat-cell> {{element.codice}} </td>
    </ng-container>

    <ng-container matColumnDef="costoTotale">
      <th *matHeaderCellDef mat-header-cell> COSTO TOTALE</th>
      <td *matCellDef="let element" mat-cell> {{element.costo}} </td>
    </ng-container>

    <ng-container matColumnDef="closed">
      <th *matHeaderCellDef mat-header-cell> CLOSED</th>
      <td *matCellDef="let element" mat-cell> {{element.closed ? 'SI' : 'NO'}} </td>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <th *matHeaderCellDef mat-header-cell> CLIENTE</th>
      <td *matCellDef="let element" mat-cell> {{element.cliente.nome}} {{element.cliente.cognome}}</td>
    </ng-container>

    <ng-container matColumnDef="fattorino">
      <th *matHeaderCellDef mat-header-cell> FATTORINO</th>
      <td *matCellDef="let element" mat-cell> {{element.fattorino.nome}} {{element.fattorino.cognome}} </td>
    </ng-container>

    <ng-container matColumnDef="azioni">
      <th *matHeaderCellDef mat-header-cell> AZIONI</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="showDetail(element.id)" *ifRole="['ROLE_PIZZAIOLO']"
                color="primary" mat-icon-button>
          <mat-icon>visibility</mat-icon>
        </button>
        <button (click)="onClickUpdate(element.id)" *ifRole="['ROLE_PIZZAIOLO']"
                mat-icon-button style="color:yellow;">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="onClickDelete(element.id)" *ifRole="['ROLE_PIZZAIOLO']"
                color="warn" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="onClickDelete(element.id)" *ifRole="['ROLE_FATTORINO']"
                color="warn" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>

    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <div *ifRole="['ROLE_PIZZAIOLO']">
    <button (click)="resetDataSource()" *ngIf="urlSearchOperationFlag=='true'" class="button" color="accent" mat-raised-button
            type="submit">Back
    </button>
  </div>
  <div *ifRole="['ROLE_PROPRIETARIO']">
    <button (click)="resetDataSource()" *ngIf="urlSearchOperationFlag=='true'" class="button" color="accent" mat-raised-button
            type="submit">Back
    </button>
  </div>
</div>

<div *ngIf="urlSearchOperationFlag == 'false'">

  <div align="center" style=" font-weight: bolder;">
    Clienti 'Virtuosi' nell'intervallo di date selezionato:
  </div>

  <table [dataSource]="clientiDataSource" class="mat-elevation-z8" mat-table>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> ID</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th *matHeaderCellDef mat-header-cell> NOME</th>
      <td *matCellDef="let element" mat-cell> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="cognome">
      <th *matHeaderCellDef mat-header-cell> COGNOME</th>
      <td *matCellDef="let element" mat-cell> {{element.cognome}} </td>
    </ng-container>

    <ng-container matColumnDef="indirizzo">
      <th *matHeaderCellDef mat-header-cell> INDIRIZZO</th>
      <td *matCellDef="let element" mat-cell> {{element.indirizzo}} </td>
    </ng-container>

    <ng-container matColumnDef="attivo">
      <th *matHeaderCellDef mat-header-cell> ATTIVO</th>
      <td *matCellDef="let element" mat-cell> {{element.attivo ? 'SI' : 'NO'}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedClientiColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedClientiColumns;" mat-row></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of users"
                 showFirstLastButtons></mat-paginator>

  <div class="stats">
    Ricavi totali nell’intervallo selezionato: {{ricavi}} <br>
  </div>
  <div class="stats">
    Numero ordini totali nell’intervallo selezionato: {{ordini}} <br>
  </div>
  <div class="stats">
    Numero pizze totali ordinate nell’intervallo selezionato: {{pizze}}
  </div>

  <div *ifRole="['ROLE_PROPRIETARIO']">
    <button class="button" color="accent" mat-raised-button routerLink="/welcome" type="submit">Back</button>
  </div>
</div>
