<div class="main-container">

    <form class="mat-elevation-z8 form-container" (ngSubmit)="login()" [formGroup]="userReactive"> 
        <h3>Sign In</h3>
    <div class="row-form-container">
      <mat-form-field appearance="fill" class="input-form">
        <mat-label>Username</mat-label>
        <input matInput name="username" type="text" formControlName="username" placeholder="Inserire Username">
        <mat-error *ngIf="userReactive.get('username')?.hasError('required')">Username obbligatorio</mat-error>
        <mat-error *ngIf="userReactive.get('username')?.hasError('minlength')">Il campo Username deve avere almeno 3
          caratteri</mat-error>
      </mat-form-field>
    </div>
    <div class="row-form-container">
      <mat-form-field appearance="fill" class="input-form">
        <mat-label>Password</mat-label>
        <input matInput name="password" type="password" formControlName="password" placeholder="Inserire la password">
        <mat-error *ngIf="userReactive.get('password')?.hasError('required')">Password obbligatoria</mat-error>
        <mat-error *ngIf="userReactive.get('password')?.hasError('minlength')">Il campo Password deve avere almeno 3
          caratteri</mat-error>
      </mat-form-field>
    </div>

    <div class="logga">
      <button type="submit" [disabled]="userReactive.invalid" mat-raised-button color="primary">Sign in</button>
    </div>

  </form>

</div>