<mat-toolbar color="primary">
    <button mat-button routerLink="/welcome">Home</button>
    <button mat-button disabled="disabled">Link</button>
    <button mat-button *ifRole="['ADMIN_ROLE']" (click)="ricerca()">Ricerca Clienti</button>
    <span class="example-spacer"></span>
    <div>
      <span style="font-size: smaller;">User:</span> {{ (authService.getUserLogged() | async)?.username | uppercase}} 
    </div>
    <button mat-button color="warn" (click)="logout()">Logout</button>
</mat-toolbar>