<div style="padding: 20px;">
  <button (click)="onClickAddNew()" color="primary" mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> ID</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th *matHeaderCellDef mat-header-cell> NOME</th>
      <td *matCellDef="let element" mat-cell> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="cognome">
      <th *matHeaderCellDef mat-header-cell> COGNOME</th>
      <td *matCellDef="let element" mat-cell> {{element.cognome}} </td>
    </ng-container>

    <ng-container matColumnDef="indirizzo">
      <th *matHeaderCellDef mat-header-cell> INDIRIZZO</th>
      <td *matCellDef="let element" mat-cell> {{element.indirizzo}} </td>
    </ng-container>

    <ng-container matColumnDef="attivo">
      <th *matHeaderCellDef mat-header-cell> ATTIVO</th>
      <td *matCellDef="let element" mat-cell> {{element.attivo ? 'SI' : 'NO'}} </td>
    </ng-container>

    <ng-container matColumnDef="azioni">
      <th *matHeaderCellDef mat-header-cell> AZIONI</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="showDetail(element.id)" color="primary"
                mat-icon-button>
          <mat-icon>visibility</mat-icon>
        </button>
        <button (click)="onClickUpdate(element.id)" mat-icon-button
                style="color:yellow;">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="onClickDelete(element.id)" color="warn"
                mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>

      </td>

    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>

</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of users"
               showFirstLastButtons></mat-paginator>
<button (click)="resetDataSource()" *ngIf="urlSearchOperationFlag=='true'" class="button" color="accent" mat-raised-button
        type="submit">Back
</button>
