<div align="center" class="container" style="padding: 100px;">
  <mat-card class="form">

    <mat-card-header>
      <mat-card-title *ngIf="urlFlag =='readOnlyActivated'">Visualizza dettaglio</mat-card-title>
      <mat-card-title *ngIf="urlFlag =='addActivated'">Inserisci nuovo elemento</mat-card-title>
      <mat-card-title *ngIf="urlFlag =='editActivated'">Modifica elemento</mat-card-title>
      <mat-card-title *ngIf="urlFlag =='searchActivated'">Ricerca elemento</mat-card-title>


    </mat-card-header>
    <form (ngSubmit)="handleFormRequest()" [formGroup]="clienteReactive">

      <mat-form-field class="form-element">
        <input formControlName="nome" matInput name="nome" placeholder="inserisci nome..." type="text">
        <mat-error *ngIf="clienteReactive.get('nome')?.hasError('required')">Nome obbligatorio</mat-error>
        <mat-error *ngIf="clienteReactive.get('nome')?.hasError('minlength')">Il nome deve avere almeno 4 caratteri
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input formControlName="cognome" matInput name="cognome" placeholder="inserisci cognome..." type="text">
        <mat-error *ngIf="clienteReactive.get('cognome')?.hasError('required')">Cognome obbligatorio</mat-error>
        <mat-error *ngIf="clienteReactive.get('cognome')?.hasError('minlength')">Il cognome deve avere almeno 4
          caratteri
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input formControlName="indirizzo" matInput name="indirizzo" placeholder="inserisci indirizzo..." type="text">
        <mat-error *ngIf="clienteReactive.get('indirizzo')?.hasError('required')">Indirizzo obbligatorio</mat-error>
        <mat-error *ngIf="clienteReactive.get('indirizzo')?.hasError('minlength')">L' Indirizzo deve avere almeno 5
          caratteri
        </mat-error>
        <mat-error *ngIf="clienteReactive.get('indirizzo')?.hasError('maxlength')">L' Indirizzo deve avere massimo 30
          caratteri
        </mat-error>
      </mat-form-field>

      <section *ngIf="urlFlag == 'readOnlyActivated'" class="form-element">
        <mat-checkbox formControlName="attivo">Attivo</mat-checkbox>
        <mat-error *ngIf="clienteReactive.get('attivo')?.hasError('required')">Stato obbligatorio</mat-error>
      </section>


      <div class="form-element">
        <button *ngIf="urlFlag != 'readOnlyActivated' && urlFlag != 'searchActivated'" [disabled]="clienteReactive.invalid" class="button" color="primary"
                mat-raised-button
                type="submit">Submit
        </button>
      </div>
      <div class="form-element">
        <button *ngIf="urlFlag =='searchActivated'" class="button" color="primary" mat-raised-button type="submit">
          Cerca
        </button>
      </div>
      <div class="form-element">
        <button class="button" color="secondary" mat-raised-button routerLink="/cliente/list" type="submit">Back
        </button>
      </div>

    </form>
  </mat-card>
</div>
